<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Dashboard</title>
</head>
<body>
    <a href="https://discord.com/api/oauth2/authorize?client_id=907959238754730015&permissions=545460846583&scope=bot">    
    <h1>Welcome {{user.name}}</h1>
    <h2>Your id is {{user.id}} and you have access to the dashboard</h2>
        <button>
            Add Our Bot To Your Server
        </button>
    </a>
</body>
</html>